{% extends "base.html" %}

{% block title %}Reddit API{% endblock %}

{% block content %}
<div class="info">
    <h2>Welcome t<span>o Reddit API</span></h2>
    <p>Reddit API is a simple API that allows you to get the 30 new post on every subreddit.</p>
    <p>It's a free API, but you need to ask for an access token to use it.</p>
    <p>Click on the button below to ask for an access token.</p>
    <a href="askforaccess" class="info-btn">Ask for access token</a>
    <a href="#" class="info-btn">Documentation</a>
</div>
{% endblock %}
